# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CfMigrate.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Local\CfMigrate\.idea\.idea.CfMigrate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
